@charset "UTF-8";

h1,h2,p, a {
	font-family: "Courier New", Courier, monospace;
}

a:link {
  color: #016574;
  text-decoration: none;
}

a:visited {
  color: #016574;
  text-decoration: none;
}

a:hover {
  color: #016574;
  text-decoration: underline;
}

a:active {
  color: #016574;
  text-decoration: underline;
}

img {
  width:500px;
  height:300px;
}


#myContainer {
  justify-content: center;
  align-items: center;
  display: flex;
}

#myItemContainer {
  width: 750px;
  text-align: center;
}

#myContainerAnimation {
  width: 750px;
  height: 400px;
  position: relative;
  background: #eeeeee;
}
#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #ec0084;
}

