body {
    background-color: #ECECEC;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    color: #007095;
}

img {
    width:450px;
    height:300px;
    border-radius: 20px
}

.vertical {
    width:300px;
    height:350px;
}

div.row-1 {
    text-align: center;
}

div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
  
div.row-2 {
    width: 450px;
}

.micolor {
    background-color: #007095;
    color: #ffffff;
    font-family: "Courier New", Courier, monospace;
}

.anchoColumna{
    width: 40%;
}

footer {
    text-align: center;
    margin-top: 40px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header.conMargen{
    margin-top: 50px;
    margin-bottom: 50px;
}

.button1 {
    padding: 8px 12px;
    border-radius: 12px;
    transition-duration: 0.4s;
    color: black;
    border: 2px solid #007095;
    background-color: #ECECEC; 
}

.button1:hover {
    background-color: #007095; 
    color: #FFFFFF;
}