body {
    background-color: #FBFBFB;
}

 p {
    font-family: "Courier New", Courier, monospace;
}

div.row {
  height: 210px;
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.row-1 {
  width: 275px;
  justify-content: center;
}

div.row-3 {
  width: 400px;
  margin-left: 50px;
}

div.row-2 {
    text-align: center;
}

.button1 {
    padding: 12px 28px;
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color: #F9F9F9;
    color: black;
    border: 2px solid #008CBA;
}

.button1:hover {
    background-color: #008CBA; 
    color: #FFFFFF;
}

.t-input{
    padding:8px;
    display:block;
    border:1px solid #ccc!important;
    border-bottom:1px solid #ccc;
    border-radius:8px;
    width:100%;
}

img {
   width:150px;
   height:150px;
}
