body {
    background-color: #ECECEC;
}

h1, h2, p{
    font-family: "Courier New", Courier, monospace;
}

h1, h2 {
    color: #007095;
}

h1 {
    text-align: center;
    font-size: 60px;
}

div.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.row-1 {
  width: 700px;
}

div.row-2 {
    text-align: center;
}

img {
    width:500px;
    height:300px;
    border-radius: 20px
}

.vertical {
    width:300px;
    height:350px;
}

footer {
    margin-top: 30px;
}