body {
    background-color: #FBFBFB;
}

h1, h2, p, legend, label{
    font-family: "Courier New", Courier, monospace;
}

div.row {
  height: 210px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.row-1 {
  width: 600px;
  margin-left: 50px;
}

.button1 {
    padding: 12px 28px;
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color: #F9F9F9;
    color: black;
    border: 2px solid #008CBA;
}

.button1:hover {
    background-color: #008CBA; 
    color: #FFFFFF;
}

.t-input{
    padding:8px;
    display:block;
    border:1px solid #ccc!important;
    border-bottom:1px solid #ccc;
    border-radius:8px;
    width:30%
}

legend {
  border:2px solid #008CBA;
  padding: 5px 10px;
  border-radius:8px;
}

fieldset {
    border-color: #008CBA;
    border-radius:8px;
}