body {
    background-color: #ECECEC;
}

h1, h2, p{
    font-family: "Courier New", Courier, monospace;
}

h1, h2 {
    color: #007095;
}

h1 {
    text-align: center;
    font-size: 60px;
}

div.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.row-1 {
  width: 700px;
}

div.row-2 {
    text-align: center;
}

section,header {
    margin-top: 30px;
}

footer {
    text-align: center;
    margin-top: 380px;
}

img {
    width:500px;
    height:300px;
    border-radius: 20px
}

.button1 {
    padding: 8px 12px;
    border-radius: 12px;
    transition-duration: 0.4s;
    color: black;
    border: 2px solid #007095;
    margin-top: 20px;
}

.button1:hover {
    background-color: #007095; 
    color: #FFFFFF;
}

.carrusel {
    position: static;
    text-align: center;
}

.carrusel_item {
    position: absolute;
    top: 3465px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: none;
}

.carrusel_item:first-child {
    display: block;
}

.carrusel_image {
    width:500px;
    height:300px;
}

.carrusel_title {
    color: #000000;
    font-size: 16px;
    text-align: center;
    font-weight: 200;
}
